In [1]:
import pandas as pd

In [2]:
cars=pd.read_csv(r"C:\Users\Himanshu saxena\Downloads\CarPrice_Assignment (1).csv")

In [3]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
cars.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
cars_numeric=cars.select_dtypes(include=["float64","int64"])

In [7]:
cars_numeric.head()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
#sns.pairplot(cars_numeric)
#plt.show()

In [10]:
#cor=cars_numeric.corr()

In [11]:
#plt.figure(figsize=(16,8))
#sns.heatmap(cor,annot=True)
#plt.show()

In [12]:
cars["CarName"][:30]

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
5                      audi fox
6                    audi 100ls
7                     audi 5000
8                     audi 4000
9           audi 5000s (diesel)
10                     bmw 320i
11                     bmw 320i
12                       bmw x1
13                       bmw x3
14                       bmw z4
15                       bmw x4
16                       bmw x5
17                       bmw x3
18             chevrolet impala
19        chevrolet monte carlo
20          chevrolet vega 2300
21                dodge rampage
22          dodge challenger se
23                   dodge d200
24            dodge monaco (sw)
25           dodge colt hardtop
26              dodge colt (sw)
27         dodge coronet custom
28            dodge dart custom
29    dodge coronet custom (sw)
Name: CarName, dtype: object

In [13]:
cars["CarsCompany"]=cars["CarName"].apply(lambda x: x.split(" ")[0])

In [14]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarsCompany
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [15]:
cars.loc[(cars["CarsCompany"]=="vw") | (cars["CarsCompany"]=="vokswagen"),"CarsCompany"]="volkswagen"

In [16]:
cars["CarsCompany"][150:]

150        toyota
151        toyota
152        toyota
153        toyota
154        toyota
155        toyota
156        toyota
157        toyota
158        toyota
159        toyota
160        toyota
161        toyota
162        toyota
163        toyota
164        toyota
165        toyota
166        toyota
167        toyota
168        toyota
169        toyota
170        toyota
171        toyota
172        toyota
173        toyota
174        toyota
175        toyota
176        toyota
177        toyota
178        toyota
179        toyota
180        toyota
181       toyouta
182    volkswagen
183    volkswagen
184    volkswagen
185    volkswagen
186    volkswagen
187    volkswagen
188    volkswagen
189    volkswagen
190    volkswagen
191    volkswagen
192    volkswagen
193    volkswagen
194         volvo
195         volvo
196         volvo
197         volvo
198         volvo
199         volvo
200         volvo
201         volvo
202         volvo
203         volvo
204         volvo
Name: CarsCompany, dtype: object

In [17]:
cars.loc[cars["CarsCompany"]=="toyouta","CarsCompany"]="toyota"

In [18]:
cars["CarsCompany"]=cars["CarsCompany"].str.replace('maxda','mazda')

In [19]:
cars["CarsCompany"]=cars["CarsCompany"].str.replace('Nissan','nissan')

In [20]:
cars["CarsCompany"]=cars["CarsCompany"].str.replace('porcshce','porsche')

In [21]:
cars["CarsCompany"].value_counts()

toyota         32
nissan         18
mazda          17
honda          13
mitsubishi     13
subaru         12
volkswagen     12
volvo          11
peugeot        11
dodge           9
buick           8
bmw             8
plymouth        7
audi            7
saab            6
porsche         5
isuzu           4
alfa-romero     3
chevrolet       3
jaguar          3
renault         2
mercury         1
Name: CarsCompany, dtype: int64

In [22]:
cars=cars.drop("CarName",axis=1)

In [23]:
cars.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarsCompany
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [24]:
cars.columns

Index(['car_ID', 'symboling', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price',
       'CarsCompany'],
      dtype='object')

In [25]:
def tsr_map(x):
    return x.map({'two':2,'six':6,'five':5,'eight':8,'four':4,'twelve':12,'three':3})

In [26]:
cars[["cylindernumber","doornumber"]].apply(tsr_map)

     cylindernumber  doornumber
0                 4           2
1                 4           2
2                 6           2
3                 4           4
4                 5           4
..              ...         ...
200               4           4
201               4           4
202               6           4
203               6           4
204               4           4

[205 rows x 2 columns]

In [27]:
cars.dtypes

car_ID                int64
symboling             int64
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
CarsCompany          object
dtype: object

In [28]:
cars_categorical=cars.select_dtypes(include=["object"])

In [29]:
cars_categorical.head()

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,CarsCompany
0,gas,std,two,convertible,rwd,front,dohc,four,mpfi,alfa-romero
1,gas,std,two,convertible,rwd,front,dohc,four,mpfi,alfa-romero
2,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,alfa-romero
3,gas,std,four,sedan,fwd,front,ohc,four,mpfi,audi
4,gas,std,four,sedan,4wd,front,ohc,five,mpfi,audi

In [30]:
cars_dummies=pd.get_dummies(cars_categorical,drop_first=True)

In [31]:
cars_dummies.head()

,fueltype_gas,aspiration_turbo,doornumber_two,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,drivewheel_fwd,drivewheel_rwd,enginelocation_rear,...,CarsCompany_nissan,CarsCompany_peugeot,CarsCompany_plymouth,CarsCompany_porsche,CarsCompany_renault,CarsCompany_saab,CarsCompany_subaru,CarsCompany_toyota,CarsCompany_volkswagen,CarsCompany_volvo
0,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
cars=cars.drop(list(cars_categorical),axis=1)

In [33]:
cars.shape

(205, 16)

In [34]:
cars_dummies.shape

(205, 50)

In [35]:
cars=pd.concat([cars,cars_dummies],axis=1)

In [36]:
cars.head()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,CarsCompany_nissan,CarsCompany_peugeot,CarsCompany_plymouth,CarsCompany_porsche,CarsCompany_renault,CarsCompany_saab,CarsCompany_subaru,CarsCompany_toyota,CarsCompany_volkswagen,CarsCompany_volvo
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,0,0,0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,0,0,0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,0,0,0,0,0,0,0,0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,0,0,0,0,0,0,0,0,0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,0,0,0,0,0,0,0,0,0

In [37]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 66 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   car_ID                  205 non-null    int64
 1   symboling               205 non-null    int64
 2   wheelbase               205 non-null    float64
 3   carlength               205 non-null    float64
 4   carwidth                205 non-null    float64
 5   carheight               205 non-null    float64
 6   curbweight              205 non-null    int64
 7   enginesize              205 non-null    int64
 8   boreratio               205 non-null    float64
 9   stroke                  205 non-null    float64
 10  compressionratio        205 non-null    float64
 11  horsepower              205 non-null    int64
 12  peakrpm                 205 non-null    int64
 13  citympg                 205 non-null    int64
 14  highwaympg              205 non-null    int64
 15  price                   205 non-null    float64
 16  fueltype_gas            205 non-null    uint8
 17  aspiration_turbo        205 non-null    uint8
 18  doornumber_two          205 non-null    uint8
 19  carbody_hardtop         205 non-null    uint8
 20  carbody_hatchback       205 non-null    uint8
 21  carbody_sedan           205 non-null    uint8
 22  carbody_wagon           205 non-null    uint8
 23  drivewheel_fwd          205 non-null    uint8
 24  drivewheel_rwd          205 non-null    uint8
 25  enginelocation_rear     205 non-null    uint8
 26  enginetype_dohcv        205 non-null    uint8
 27  enginetype_l            205 non-null    uint8
 28  enginetype_ohc          205 non-null    uint8
 29  enginetype_ohcf         205 non-null    uint8
 30  enginetype_ohcv         205 non-null    uint8
 31  enginetype_rotor        205 non-null    uint8
 32  cylindernumber_five     205 non-null    uint8
 33  cylindernumber_four     205 non-null    uint8
 34  cylindernumber_six      205 non-null    uint8
 35  cylindernumber_three    205 non-null    uint8
 36  cylindernumber_twelve   205 non-null    uint8
 37  cylindernumber_two      205 non-null    uint8
 38  fuelsystem_2bbl         205 non-null    uint8
 39  fuelsystem_4bbl         205 non-null    uint8
 40  fuelsystem_idi          205 non-null    uint8
 41  fuelsystem_mfi          205 non-null    uint8
 42  fuelsystem_mpfi         205 non-null    uint8
 43  fuelsystem_spdi         205 non-null    uint8
 44  fuelsystem_spfi         205 non-null    uint8
 45  CarsCompany_audi        205 non-null    uint8
 46  CarsCompany_bmw         205 non-null    uint8
 47  CarsCompany_buick       205 non-null    uint8
 48  CarsCompany_chevrolet   205 non-null    uint8
 49  CarsCompany_dodge       205 non-null    uint8
 50  CarsCompany_honda       205 non-null    uint8
 51  CarsCompany_isuzu       205 non-null    uint8
 52  CarsCompany_jaguar      205 non-null    uint8
 53  CarsCompany_mazda       205 non-null    uint8
 54  CarsCompany_mercury     205 non-null    uint8
 55  CarsCompany_mitsubishi  205 non-null    uint8
 56  CarsCompany_nissan      205 non-null    uint8
 57  CarsCompany_peugeot     205 non-null    uint8
 58  CarsCompany_plymouth    205 non-null    uint8
 59  CarsCompany_porsche     205 non-null    uint8
 60  CarsCompany_renault     205 non-null    uint8
 61  CarsCompany_saab        205 non-null    uint8
 62  CarsCompany_subaru      205 non-null    uint8
 63  CarsCompany_toyota      205 non-null    uint8
 64  CarsCompany_volkswagen  205 non-null    uint8
 65  CarsCompany_volvo       205 non-null    uint8
dtypes: float64(8), int64(8), uint8(50)
memory usage: 35.8 KB

In [38]:
cars.drop("car_ID",axis=1,inplace=True)

In [39]:
cars.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,CarsCompany_nissan,CarsCompany_peugeot,CarsCompany_plymouth,CarsCompany_porsche,CarsCompany_renault,CarsCompany_saab,CarsCompany_subaru,CarsCompany_toyota,CarsCompany_volkswagen,CarsCompany_volvo
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,0,0,0
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,0,0,0
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,...,0,0,0,0,0,0,0,0,0,0
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,...,0,0,0,0,0,0,0,0,0,0
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,...,0,0,0,0,0,0,0,0,0,0

# Model Building

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
df_train,df_test=train_test_split(cars,train_size=0.7,test_size=0.3,random_state=100)

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
scaler=StandardScaler()

In [44]:
cars.columns

Index(['symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price',
       'fueltype_gas', 'aspiration_turbo', 'doornumber_two', 'carbody_hardtop',
       'carbody_hatchback', 'carbody_sedan', 'carbody_wagon', 'drivewheel_fwd',
       'drivewheel_rwd', 'enginelocation_rear', 'enginetype_dohcv',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_rotor', 'cylindernumber_five', 'cylindernumber_four',
       'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve',
       'cylindernumber_two', 'fuelsystem_2bbl', 'fuelsystem_4bbl',
       'fuelsystem_idi', 'fuelsystem_mfi', 'fuelsystem_mpfi',
       'fuelsystem_spdi', 'fuelsystem_spfi', 'CarsCompany_audi',
       'CarsCompany_bmw', 'CarsCompany_buick', 'CarsCompany_chevrolet',
       'CarsCompany_dodge', 'CarsCompany_honda', 'CarsCompany_isuzu',
       'CarsCompany_jaguar', 'CarsCompany_mazda', 'CarsCompany_mercury',
       'CarsCompany_mitsubishi', 'CarsCompany_nissan', 'CarsCompany_peugeot',
       'CarsCompany_plymouth', 'CarsCompany_porsche', 'CarsCompany_renault',
       'CarsCompany_saab', 'CarsCompany_subaru', 'CarsCompany_toyota',
       'CarsCompany_volkswagen', 'CarsCompany_volvo'],
      dtype='object')

In [45]:
varlist=['symboling','wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginesize','boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg']

In [46]:
varlist

['symboling',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg']

In [47]:
df_train[varlist]=scaler.fit_transform(df_train[varlist])

<ipython-input-47-5c76b36ad1c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train[varlist]=scaler.fit_transform(df_train[varlist])
C:\Users\Himanshu saxena\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [48]:
y_train=df_train.pop("price")

In [49]:
x_train=df_train

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
lm=LinearRegression()

In [52]:
lm.fit(x_train,y_train)

LinearRegression()

In [53]:
lm.coef_

array([-8.52404332e+01,  1.80899937e+03, -1.43640090e+03,  1.81012390e+03,
       -1.36100586e+03,  2.39031121e+03,  1.12765261e+04, -4.60113993e+03,
       -1.01876663e+03, -2.98986632e+03, -1.29443008e+03,  1.33844815e+03,
       -3.45221313e+02,  7.46254720e+02, -2.31988535e+16,  2.93215520e+03,
       -5.52662557e+02, -3.57807410e+03, -3.77083820e+03, -3.08356337e+03,
       -2.37229720e+03,  2.89742418e+01,  1.08262336e+03, -9.21402294e+15,
        8.86494188e+03,  5.99368141e+16,  2.41058357e+00,  9.21402294e+15,
       -1.21785633e+03,  3.11955026e+15,  9.22834151e+03,  1.54262219e+04,
        3.99841315e+03, -5.99368141e+16, -1.24643366e+04, -3.11955026e+15,
        2.79030073e+02, -2.50362073e+03, -2.31988535e+16,  7.17872649e+14,
       -1.17143222e+03, -1.22736725e+03, -2.47030235e+14,  2.30263312e+03,
        1.22902185e+04,  1.35491111e+03, -2.21401988e+03, -4.07859802e+03,
       -3.22305674e+03, -3.70248578e+02, -5.32961184e+03,  8.37966789e+02,
       -8.36818380e+13, -4.98179349e+03,  8.53281455e+02, -5.99368141e+16,
       -3.91817479e+03,  9.25026163e+03, -5.20944090e+02,  7.92296701e+03,
       -9.21402294e+15,  4.65028600e+02,  6.65923793e+02,  3.51237593e+03])

In [54]:
lm.intercept_

2.3198853480471424e+16

In [55]:
from sklearn.feature_selection import RFE

In [56]:
rfe1=RFE(lm,15)
rfe1.fit(x_train,y_train)

C:\Users\Himanshu saxena\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass n_features_to_select=15 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

RFE(estimator=LinearRegression(), n_features_to_select=15)

In [57]:
rfe1.support_

array([False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False,  True,  True, False, False,  True,  True,  True,
       False, False, False, False, False, False, False,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True, False, False, False,
        True])

In [58]:
import statsmodels.api as sm

In [59]:
col1=x_train.columns[rfe1.support_]

In [60]:
x_train_rfe1=x_train[col1]

In [61]:
x_train_rfe1=sm.add_constant(x_train_rfe1)

In [62]:
x_train_rfe1.head()

,const,enginesize,enginelocation_rear,enginetype_dohcv,enginetype_l,enginetype_rotor,cylindernumber_five,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,CarsCompany_audi,CarsCompany_bmw,CarsCompany_buick,CarsCompany_porsche,CarsCompany_saab,CarsCompany_volvo
122,1.0,-0.660242,0,0,0,0,0,0,0,0,0,0,0,0,0,0
125,1.0,0.637806,0,0,0,0,0,0,0,0,0,0,0,1,0,0
166,1.0,-0.660242,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1.0,0.123485,0,0,0,0,0,0,0,0,0,0,0,0,0,0
199,1.0,0.123485,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [63]:
lm1=sm.OLS(y_train,x_train_rfe1).fit()

In [64]:
lm1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.913
Model:                            OLS   Adj. R-squared:                  0.904
Method:                 Least Squares   F-statistic:                     96.25
Date:                Mon, 08 Feb 2021   Prob (F-statistic):           8.60e-61
Time:                        18:44:31   Log-Likelihood:                -1309.3
No. Observations:                 143   AIC:                             2649.
Df Residuals:                     128   BIC:                             2693.
Df Model:                          14
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                  1.124e+04    251.803     44.657      0.000    1.07e+04    1.17e+04
enginesize             5733.0426    293.676     19.522      0.000    5151.955    6314.130
enginelocation_rear    5972.3387   3439.057      1.737      0.085    -832.423    1.28e+04
enginetype_dohcv       2081.1421   3445.482      0.604      0.547   -4736.332    8898.616
enginetype_l           2497.9297    904.535      2.762      0.007     708.153    4287.707
enginetype_rotor       4570.4899    636.099      7.185      0.000    3311.859    5829.121
cylindernumber_five     776.8341   1641.835      0.473      0.637   -2471.816    4025.484
cylindernumber_three    388.7734   2627.486      0.148      0.883   -4810.156    5587.703
cylindernumber_twelve -3473.1399   2868.084     -1.211      0.228   -9148.134    2201.854
cylindernumber_two     4570.4899    636.099      7.185      0.000    3311.859    5829.121
CarsCompany_audi       5137.7192   1982.040      2.592      0.011    1215.915    9059.524
CarsCompany_bmw        9355.2373   1090.967      8.575      0.000    7196.573    1.15e+04
CarsCompany_buick      8203.1149   1635.282      5.016      0.000    4967.429    1.14e+04
CarsCompany_porsche    7116.7376   2447.628      2.908      0.004    2273.688     1.2e+04
CarsCompany_saab       4637.7261   1419.650      3.267      0.001    1828.706    7446.746
CarsCompany_volvo      4993.6335   1040.598      4.799      0.000    2934.632    7052.635
==============================================================================
Omnibus:                       16.668   Durbin-Watson:                   1.956
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.467
Skew:                           0.574   Prob(JB):                     1.09e-06
Kurtosis:                       4.814   Cond. No.                     3.32e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.33e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [65]:
vif=pd.DataFrame()

In [66]:
vif["Features"]=x_train_rfe1.columns

In [67]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [68]:
vif["VIF"]=[variance_inflation_factor(x_train_rfe1.values,i)for i in range(x_train_rfe1.shape[1])]

C:\Users\Himanshu saxena\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [69]:
vif["VIF"]=round(vif["VIF"],2)

In [70]:
vif=vif.sort_values(by="VIF",ascending=True)

In [71]:
lm=LinearRegression()
rfe2=RFE(lm,10)
rfe2.fit(x_train,y_train)

C:\Users\Himanshu saxena\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass n_features_to_select=10 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

RFE(estimator=LinearRegression(), n_features_to_select=10)

In [72]:
col2=x_train.columns[rfe2.support_]
x_train_rfe2=x_train[col2]
x_train_rfe2=sm.add_constant(x_train_rfe2)
lm2=sm.OLS(y_train,x_train_rfe2).fit()
print(lm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.905
Model:                            OLS   Adj. R-squared:                  0.899
Method:                 Least Squares   F-statistic:                     141.3
Date:                Mon, 08 Feb 2021   Prob (F-statistic):           1.39e-63
Time:                        18:44:41   Log-Likelihood:                -1315.6
No. Observations:                 143   AIC:                             2651.
Df Residuals:                     133   BIC:                             2681.
Df Model:                           9
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                1.141e+04    239.464     47.634      0.000    1.09e+04    1.19e+04
enginesize           5617.3404    248.713     22.586      0.000    5125.396    6109.285
enginelocation_rear  4979.9409   3042.129      1.637      0.104   -1037.273     1.1e+04
enginetype_rotor     4415.2262    646.682      6.828      0.000    3136.115    5694.338
cylindernumber_two   4415.2262    646.682      6.828      0.000    3136.115    5694.338
CarsCompany_audi     5778.2998   1139.119      5.073      0.000    3525.167    8031.433
CarsCompany_bmw      9320.0531   1087.137      8.573      0.000    7169.739    1.15e+04
CarsCompany_buick    8729.6220   1248.592      6.992      0.000    6259.956    1.12e+04
CarsCompany_porsche  8142.9050   1807.261      4.506      0.000    4568.213    1.17e+04
CarsCompany_saab     4464.6342   1452.601      3.074      0.003    1591.447    7337.822
CarsCompany_volvo    4889.0231   1053.615      4.640      0.000    2805.014    6973.032
==============================================================================
Omnibus:                       16.950   Durbin-Watson:                   1.931
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.386
Skew:                           0.664   Prob(JB):                     8.35e-06
Kurtosis:                       4.471   Cond. No.                     4.78e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.35e-34. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [73]:
col2

Index(['enginesize', 'enginelocation_rear', 'enginetype_rotor',
       'cylindernumber_two', 'CarsCompany_audi', 'CarsCompany_bmw',
       'CarsCompany_buick', 'CarsCompany_porsche', 'CarsCompany_saab',
       'CarsCompany_volvo'],
      dtype='object')

In [74]:
vif=pd.DataFrame()
vif["Features"]=x_train_rfe2.columns
vif["VIF"]=[variance_inflation_factor(x_train_rfe2.values,i)for i in range(x_train_rfe2.shape[1])]

C:\Users\Himanshu saxena\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [75]:
x_train_rfe2.drop("enginelocation_rear",axis=1,inplace=True)

In [76]:
col2=x_train.columns[rfe2.support_]
x_train_rfe2=x_train[col2]
x_train_rfe2=sm.add_constant(x_train_rfe2)
lm2=sm.OLS(y_train,x_train_rfe2).fit()
print(lm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.905
Model:                            OLS   Adj. R-squared:                  0.899
Method:                 Least Squares   F-statistic:                     141.3
Date:                Mon, 08 Feb 2021   Prob (F-statistic):           1.39e-63
Time:                        18:44:46   Log-Likelihood:                -1315.6
No. Observations:                 143   AIC:                             2651.
Df Residuals:                     133   BIC:                             2681.
Df Model:                           9
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                1.141e+04    239.464     47.634      0.000    1.09e+04    1.19e+04
enginesize           5617.3404    248.713     22.586      0.000    5125.396    6109.285
enginelocation_rear  4979.9409   3042.129      1.637      0.104   -1037.273     1.1e+04
enginetype_rotor     4415.2262    646.682      6.828      0.000    3136.115    5694.338
cylindernumber_two   4415.2262    646.682      6.828      0.000    3136.115    5694.338
CarsCompany_audi     5778.2998   1139.119      5.073      0.000    3525.167    8031.433
CarsCompany_bmw      9320.0531   1087.137      8.573      0.000    7169.739    1.15e+04
CarsCompany_buick    8729.6220   1248.592      6.992      0.000    6259.956    1.12e+04
CarsCompany_porsche  8142.9050   1807.261      4.506      0.000    4568.213    1.17e+04
CarsCompany_saab     4464.6342   1452.601      3.074      0.003    1591.447    7337.822
CarsCompany_volvo    4889.0231   1053.615      4.640      0.000    2805.014    6973.032
==============================================================================
Omnibus:                       16.950   Durbin-Watson:                   1.931
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.386
Skew:                           0.664   Prob(JB):                     8.35e-06
Kurtosis:                       4.471   Cond. No.                     4.78e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.35e-34. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [77]:
vif=pd.DataFrame()
vif["Features"]=x_train_rfe2.columns
vif["VIF"]=[variance_inflation_factor(x_train_rfe2.values,i)for i in range(x_train_rfe2.shape[1])]

In [78]:
vif

               Features       VIF
0                 const  1.330623
1            enginesize  1.435399
2   enginelocation_rear  1.491238
3      enginetype_rotor       inf
4    cylindernumber_two       inf
5      CarsCompany_audi  1.015993
6       CarsCompany_bmw  1.102411
7     CarsCompany_buick  1.220656
8   CarsCompany_porsche  1.556662
9      CarsCompany_saab  1.005646
10    CarsCompany_volvo  1.035473

# Making Prediction

In [79]:
df_test[varlist]=scaler.transform(df_test[varlist])

<ipython-input-79-aff68b79e3bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test[varlist]=scaler.transform(df_test[varlist])
C:\Users\Himanshu saxena\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [81]:
y_test=df_test.pop("price")

In [82]:
x_test=df_test

In [92]:
col2
x_test_rfe2=x_test[col2]

In [96]:
x_test_rfe2=x_test_rfe2.drop(['enginesize', 'enginelocation_rear', 'enginetype_rotor',
       'cylindernumber_two', 'CarsCompany_audi', 'CarsCompany_bmw',
       'CarsCompany_buick', 'CarsCompany_porsche', 'CarsCompany_saab',
       'CarsCompany_volvo'],axis=1)

In [97]:
x_test_rfe2=sm.add_constant(x_test_rfe2)

In [98]:
y_pred=lm2.predict(x_train_rfe2)